body{
    background-color:#3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#form-container{
    background-color: white;
    padding:50px;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 2px solid grey;
}
h2{
    margin: 0px 0px 10px 0px;
}
input{
    width: 200px;
    margin: 10px 0px;
    padding: 10px;
}
#btn{
   width: 222px; 
   background-color: #3498db;
   border: 0px;
   color: white;
   cursor: pointer;
}
.error{
    color: red;
    margin: 0px;
    text-align: left;
}
